[Unit]
Description=Supercollider server for Petal effects pedal
Requires=petal.jackd.service
After=petal.jackd.service

[Service]
Type=simple
ExecStart=$TOP/scripts/launch_sc
Restart=always
User=pedal

[Install]
WantedBy=multi-user.target
Alias=petal.sc.service
